@using Sandbox;
@using Sandbox.UI;


@namespace GURPS.Core
@inherits RootPanel
@*@attribute [StyleSheet]*@

<style>
	.hidden{
		display: none;
	}
</style>

<root>
    <ChatBox/>
    <VoiceList/>
	<DebugHUD/>
	
</root>

