@using Sandbox;
@using Sandbox.UI;
@using GURPS.SW;


@namespace GURPS.Core
@inherits Panel



<style>

	debughud{
		width: 100%;
		height: 100%;
		flex-direction: row;
		justify-content: space-between;
		color: wheat;
	}

	.header {
        padding: 18px;
		padding-top: 60px;
		flex-direction: column;
		justify-content: space-between;
	}	
	
	.effects {
        padding: 18px;
		padding-top: 60px;
		flex-direction: column;
		justify-content:flex-start;
		padding: 15;
	}			
	
	.subtitle {
        padding: 15px;
    }	
	.limb {
        padding: 5px;
    }	
	.limbs {
        padding: 25px;
    }	
	.health {
		padding-left: 10;
    }

	ScenePanel {
		width: 100%;
		height: 100%;
		position: absolute;
		/* filter: blur(12px); 
		filter: saturate(200%);*/
		filter: sepia(100%);
	}
</style>

<root>
	
	<ScenePanel class="hidden" @ref="AvatarPanel" World=@Game.SceneWorld></ScenePanel>
	<div class="header">
		<label>@Game.LocalClient.Name</label>
		<label class="subtitle">Ping, @Ctick</label>
		<label class="subtitle">PacketLoss, @Game.LocalClient.PacketLoss  </label>
		<label class="subtitle">FPS, @((int)(1/Time.Delta)) </label>	
		<label class="subtitle">Tick Time, @Time.Tick </label>
		<label class="subtitle">Weapon, @WeaponID </label>
		@if (Player.ActiveWeapon is not null)
		{
			<label class="subtitles">WeaponName, @(Player.ActiveWeapon.Name) </label>
		}
		<label class="subtitle">Health, @Game.LocalPawn.Health </label>
		<label class="subtitle">Ammo, @WeapponAmmo </label>
		<label class="subtitle">Speed, @Game.LocalClient.Pawn.Velocity.Length </label>
	</div>
	<div class="effects">
		@if((Game.LocalClient.Pawn as Pawn).Limbs != null)
		{
			<div class="limbs">
				@foreach (var d in (Game.LocalClient.Pawn as Pawn).Limbs)
				{
					if (d != null)
					{
						<div class="limb">
							<label class="name">@(d.Name)</label>
							<label class="health">@(d.Health)</label>
						</div>
					}
				}
			</div>
		}
		@foreach (var d in (Game.LocalClient.Pawn as Pawn).GetAllEffects())
			{
			if (d != null)
			{
				<div class="effectss">
					<label class="name">@d.Name</label>
					<label class="health">@d.Level</label>
				</div>
				}
			}
@* 
		@foreach (var d in (Game.LocalClient.Pawn as Pawn).Items.ItemList)
		{
			if (d != null)
			{
				<div class="effectss">
					<label class="name">@d</label>
				</div>
			}
		}
 *@
	</div>



</root>

@code
{
	public SceneWorld AvatarWorld => AvatarPanel?.World;
	public ScenePanel AvatarPanel { get; set; }
	
	

	int Ctick;
	int CTickRate;
	float CPcL;
	float CTickInt;

	int WeaponID;
	int WeapponAmmo;
	string WeaponName;

	Pawn Player => Game.LocalClient.Pawn as Pawn;

	TimeUntil tickTime;

	public override void Tick()
	{
		this.Focus();
		base.Tick();

		if (tickTime)
		{
			StateHasChanged();
			tickTime = 1/24f;
		}
		Ctick = Game.LocalClient.Ping;
		CPcL = Game.TickInterval;
		CTickInt = Time.Tick;
		var Play = Game.LocalClient.Pawn as Pawn;
		WeaponID = Play.SWeapons.IndexOf(Play.ActiveWeapon);
		WeaponName = Play.ActiveWeapon.IsValid() ? Play.ActiveWeapon.PrintName : "";
		WeapponAmmo = Play.ActiveWeapon.IsValid() ? Play.ActiveWeapon.Ammo : 0;

		if (AvatarPanel == null)
			return;
		//AvatarPanel.Camera.Position = new Vector3( -10, 0, 30 );


		AvatarPanel.Camera.Position = new Vector3(-100, 0, 30);
		AvatarPanel.Camera.Position = Camera.Position;
		AvatarPanel.Camera.Rotation = Camera.Rotation;
		AvatarPanel.Camera.ZFar = 6000f;
		AvatarPanel.Camera.FieldOfView = 50f;
		//Avatar.Rotation = Rotation.LookAt( AvatarPanel.Camera.Rotation.Forward, AvatarPanel.Camera.Rotation.Up );

		//Avatar.Rotation = Rotation.LookAt( AvatarPanel.Camera.Rotation.Forward );
		//Avatar.Rotation = (new Angles(90,0,0) ).ToRotation();
		AvatarPanel.Camera.RenderTags.Add("player");
		AvatarPanel.Camera.RenderTags.Add("weapon");
		//AvatarPanel.Camera.RenderTags.Add( "particles" );

		AvatarPanel.Camera.FieldOfView = Camera.FieldOfView;

		//AvatarPanel.Camera.RenderTags.Add( "world" );

		if (Input.Pressed("slot6"))
		{
			AvatarPanel.SetClass("hidden", !AvatarPanel.HasClass("hidden"));
		}


	}
}

