@using Sandbox;
@using Sandbox.Razor;
@using Sandbox.UI;
@using Sandbox.UI.Tests;
@using System.Collections.Generic;
@using GURPS.Inventory;

@namespace GURPS.Core
@inherits Panel


<style>

	gframe {

		top: @(Screen.Height / 2);
		left: @(Screen.Width / 2);
		background-color: rgba(50,50,70,0.7f);
		/* border: 1px solid black; */
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

		flex-direction: column;
		border-radius: 4px;
		pointer-events: all;
		/* margin: -50% 0 0 -50%; */
		
/* 
		overflow:scroll;
		overflow-y:scroll;
 */
	}

	.content{
		width:100%;
		height:100%; 
		background-color: rgba(40,40,50, 0.7f);
		padding: 5 5 5 5;
		flex-wrap: wrap;
		overflow-y:scroll;
/*
		overflow-y:scroll;
		border: 5 5 5 5;
		border-color: rgba(0,0,0,0);
 */
	}


	GButton {
		width: 50px;
		height: 100%;
		color: black;

		&.close {
		background-color: rgba(200,200,200,1);
		border-radius: 0 4px 0 0;
		}
	
	}

	.upper {
		width: 100%;
		height: 25px;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
		justify-content: flex-end;
	}

	.hidden{
		display:none;
	}

	.resize{
		position:absolute; 
		bottom:-10;
		right: -10;
		background-color: rgba(255,255,255, 0);
		margin-left:auto;
		width: 20;
		height: 20;
		align-self: flex-end;
	}
	.resize:hover{
		cursor:move;
		background-color: rgba(0,255,255, 1);
		border-radius: 4;
	}


</style>


<root>
<div @onmousedown=@OnClick @onmouseup=@OnClickStop class="upper">
	@Upper
	<GButton Darken=@true @ref="CloseButton" class="close" onclick=@Close >X</GButton>
</div>
	<div @ref="Container" class="content"/>
	@Body
<div @onmousedown=@OnResizeUp @onmouseup=@OnResizeDown class="resize" />

</root>


@code
{
	//TODO Додлелать VirtualScrollPanel

	public GFrame(){
		//PreferScrollToBottom = true;
		//CanDragScroll = true;
	}



	public RenderFragment Upper { get; set; }
	public RenderFragment Body { get; set; }

	public Panel Container;
	public Label Name;
	public GButton CloseButton;

	bool WasDragged = false;

	bool ResizeWasDragged = false;

	public void OnClick()
	{
		WasDragged = !WasDragged;
	}

	public void OnClickStop()
	{
		WasDragged = !WasDragged;
	}

	protected override void OnAfterTreeRender(bool firstTime)
	{
		base.OnAfterTreeRender(firstTime);
		if (firstTime)
		{
			Container.CanDragScroll = false;
		}
	}

	public override void Tick()
	{
		base.Tick();
		if (WasDragged)
		{
			GetPreRoot().Style.ZIndex = 2;
			Style.Cursor = "move";
			var Vect = new Vector2(Style.Left.GetValueOrDefault().Value, Style.Top.GetValueOrDefault().Value);
			if(Style.Left == null)
			{
				Vect = new Vector2(ComputedStyle.Left.GetValueOrDefault().Value / ScaleToScreen, ComputedStyle.Top.GetValueOrDefault().Value / ScaleToScreen);
			}

			Style.Left = Vect.x + Mouse.Delta.x * ScaleFromScreen;
			Style.Top = Vect.y + Mouse.Delta.y * ScaleFromScreen;
			//Style.Top = Style.Top.GetValueOrDefault().Value + MousePosition.y * ScaleFromScreen;
			Style.Dirty();
		}
		else
		{
			GetPreRoot().Style.ZIndex = -1;
			Style.Cursor = "";
		}

		if (ResizeWasDragged)
		{
			
			Style.Width = MousePosition.x * ScaleFromScreen;
			Style.Height = MousePosition.y * ScaleFromScreen;
			return;
		}
	}

	public Panel GetPreRoot()
	{
		Panel newPanel = Parent;
		Panel RealParent = Parent;
		while(newPanel.Parent != null)
		{
			if (newPanel.Parent.Parent == null)
			{
				RealParent = newPanel;
				return RealParent;
			}
			newPanel = newPanel.Parent;
		}
		return RealParent;
	}

	public void Close()
	{
		//SetClass("hidden", !HasClass("hidden"));
		//Parent = null;
		Parent.Delete();
	}

	public void OnResizeUp()
	{
		ResizeWasDragged = !ResizeWasDragged;
	}	

	public void OnResizeDown()
	{
		ResizeWasDragged = !ResizeWasDragged;
	}

	public Panel GetContainer()
	{
		//return GetChild(1);
		return Container;
	}
}
