@using Sandbox;
@using Sandbox.Razor;
@using Sandbox.UI;
@using Sandbox.UI.Tests;
@using System.Collections.Generic;
@using GURPS.Inventory;

@namespace GURPS.Core
@inherits Panel


<style>

	gsheet {
		position:absolute;
		width: 50%;
		height: 50%;
		top: @(Screen.Height / 2);
		left: @(Screen.Width / 2);
		background-color: rgba(50,50,50,1);
		border: 1px solid black;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

		flex-direction: column;
		border-radius: 4px;
		pointer-events: all;
		/* margin: -50% 0 0 -50%; */

		overflow:scroll;
		overflow-y:scroll;
	}



</style>


<root>

</root>


@code
{


	public GSheet(){
	}

	public RenderFragment Body { get; set; }


}
