@using Sandbox;
@using Sandbox.UI;


@namespace GURPS.Misc
@inherits RootPanel
@*@attribute [StyleSheet("Inventory.scss")]*@

<style>

.hidden {
    display: none;
}

.plyInventory {
	background-color: dodgerblue;
    width: 50%;
    height: 100%;

}

ScenePanel {
	align-self: flex-end;
	width: 100%;
	height: 100%;
	background-color: rgba(110,0,0,0.1);
}


</style>

<root>
	<div class="plyInventory"></div>
	<ScenePanel @ref="AvatarPanel" World=@Game.SceneWorld></ScenePanel>
</root>

