@using Sandbox;
@using Sandbox.UI;

@*  @import "InventorySettings.scss";  *@
@*@[StyleSheet("/ui/Inventory/InventorySettings.scss")] *@

@namespace GURPS.Core
@inherits Panel
<style>


	body
.hidden {
    display: none;
}

label{
	text-shadow: 1px 1px 2px black;
}

.main {
	max-width: 100;
	color: white;
	flex-direction: column;
	background-color: rgba(0,0,0,0.25);
	padding: 5px;
}

.limb{
	flex-direction: column;
	/* background-color: rgba(0,0,0,0.25); */
	padding: 0px;
}

.effects {
}

.effect-image {


	width: 32px;
	height: 32px;

}


</style>


<div class="main">
	<div class="limb">
		<label @ref=LName class="limbname">@("#limb.body")</label>
		<label @ref=LHealth class="limbhealth">@Player.Health</label>
	</div>
	<div class="effects">
		@foreach (var eff in Player.BodyEffects)
		{
			if(eff != null) 
			{
				<img class="effect-image" src=@eff.Icon />
			}
		}
	</div>
</div>


@code{



	public Pawn Player => Game.LocalPawn as Pawn;


	public Label LName;
	public Label LHealth;

	public BodyCardInfo(SceneBody lb)
	{
		LBody = lb;
	}

	public SceneBody LBody;

	public override void Tick()
	{
		base.Tick();

		Style.Left = (LBody.GetCenterScreen()).x ;
		Style.Top = (LBody.GetCenterScreen()).y ;
		//Style.FontSize = Length.ViewMin(LBody.thisPanel.ScaleFromScreen);
		Style.Position = PositionMode.Absolute;
		Style.Dirty();
	}


	protected override void OnMouseOver(MousePanelEvent e)
	{
		//	Log.Info(e.Button);
	}

	protected override void OnAfterTreeRender(bool firstTime)
	{
		if (firstTime)
		{

		}
		base.OnAfterTreeRender(firstTime);
	}
}
