@using Sandbox;
@using Sandbox.UI;


@namespace GURPS.Core
@inherits Panel
<style>

/*
	BodyCardInfo {
	pointer-events: all;
	}

.pointer-visible {
	pointer-events: all;
} 
*/

.hidden {
    display: none;
}


.main {
    width: 100%;
    height: 100%;
	/* align-items: center; */
}



</style>

<root>
	<div class="main">
		<div class="limb">
			<label class="limbname">@panelLimb.Name</label>
			<label class="limbhealth">@panelLimb.Health</label>
		</div>
		<div class="effects">
			@foreach (var eff in panelLimb.Effects)
			{
				<img class="effect-image" src=@eff.Icon />
			}
		</div>
	</div>
</root>


@code{

	public Limb panelLimb;


}
