@using Sandbox;
@using Sandbox.UI;

@*  @import "InventorySettings.scss";  *@
@*@[StyleSheet("/ui/Inventory/InventorySettings.scss")] *@

@namespace GURPS.Core
@inherits Panel
<style>


.hidden {
    display: none;
}

label{
	text-shadow: 1px 1px 2px black;
}

minicardinfo{

	max-width: 100;
	padding: 2px;
	border: 2px black; 
}

.main {
	color: white;
	flex-direction: column;
	background-color: rgba(0,0,0,0.25);
	width: 100%;
}

.limb{
	flex-direction: column;
	/* background-color: rgba(0,0,0,0.25); */
	padding: 0px;
}

.effects {
	flex-wrap: wrap;
}

.effect-image {
	width: 32px;
	height: 32px;
}





</style>


<div class="main">
	<div class="limb">
		<label @ref=LName class="limbname">@panelLimb.Name</label>
		<label @ref=LHealth class="limbhealth">@panelLimb.Health / @panelLimb.MaxHealth</label>
	</div>
	<div class="effects">
		@foreach (var eff in panelLimb.Effects)
		{
			<img class="effect-image" src=@eff.Icon />
		}
	</div>
</div>


@code{

	public MiniCardInfo(SceneBody lb)
	{
		LBody = lb;
	}

	public SceneBody LBody;

	public Limb panelLimb => LBody.limb;

	public Label LName;
	public Label LHealth;


	protected override void OnMouseOver(MousePanelEvent e)
	{
		//Log.Info(e.Button);
	}

	public override void Tick()
	{
		base.Tick();
	
			Style.Left = (LBody.GetCenterScreen()).x + panelLimb.PanelOffset.x;
			Style.Top = (LBody.GetCenterScreen()).y + panelLimb.PanelOffset.y;
			//Style.FontSize = Length.ViewMin(LBody.thisPanel.ScaleFromScreen);
			Style.Position = PositionMode.Absolute;
			Style.Dirty();
	}

	protected override void OnAfterTreeRender(bool firstTime)
	{
		/*
		if (firstTime)
		{
			Style.Left = (LBody.GetCenterScreen()).x + panelLimb.PanelOffset.x;
			Style.Top = (LBody.GetCenterScreen()).y + panelLimb.PanelOffset.y;
			//Style.FontSize = Length.ViewMin(LBody.thisPanel.ScaleFromScreen);
			Style.Position = PositionMode.Absolute;
			Style.Dirty();
		}
		*/
		base.OnAfterTreeRender(firstTime);
	}
}
