@using Sandbox;
@using Sandbox.UI;
@using GURPS.Inventory;


@namespace GURPS.Core
@inherits RootPanel
@* @attribute [StyleSheet] *@

<style>

Inventory{
	/* 
	width: 100%;
	height: 100%;
	justify-content: space-between;
	 */
	/* justify-content: space-between; */
}
/* 
.pointer-visible {
	pointer-events: all;
} 
*/

GFrame{
	width: 35%;
	height: 35%;
}

.hidden {
    display: none;
}

	.MainInventory{
		width: 50%;
		height: 50%;
	}
	


ScenePanel {
	position: absolute;
	right: 0px;
	pointer-events: all;
	width: 25%;
	height: 100%;
	background-color: rgba(0,0,100,0.1);
	margin-left: auto;

	background-image: url("https://www.freecodecamp.org/news/content/images/2020/01/moon.png");
	background-repeat: no-repeat;
	background-position: center;
	/* border-radius: 50%; */
	border: 1px solid black;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


</style>

<root>
	<ScenePanel @onclick=@OnClicked @onrightclick=@OnRigthClick @ref="AvatarPanel" @onmousemove=@OnHover World=@AvatarWorld></ScenePanel>
</root>


