@using Sandbox;
@using Sandbox.Razor;
@using Sandbox.UI;
@using System.Collections.Generic;

@namespace GURPS.Inventory
@inherits Panel

@* 
<style>



</style> 
*@

<root>

</root>


@code
{
	public List<ItemData> Items { get; set; }
	public RenderFragment<ItemData> ItemBox { get; set; }
}
